body{
    background-color:cadetblue
}

img {
    width: 300px;
    height: auto;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.20em;
    color:black;
}

.subparrafo {
    font-size: 0.6em;
    color:black;
}

#final {
    color:azure;
}